In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import seaborn as sns
import time

### TODO SECTION
- Parallize with PySpark or Dask
- Check pandas.replace for similar countries

## Map Temperatues in countries

In [2]:
# Read csv file
global_temp = pd.read_csv('./DataSets/GlobalLandTemperaturesByCountry.csv')

In [3]:
global_temp.head(5)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [4]:
#Let's take a look of the data and check if there is any row with NaN or missing values
print("Number of rows with null data : \n", global_temp.isnull().sum())

Number of rows with null data :
 dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

In [5]:
#Let's drop the rows that contains any NaN or missing value
global_temp = global_temp.dropna()

In [6]:
print("Number of rows with null data after cleaning \n", global_temp.isnull().sum())
#global_temp_country_clear = \
#print("Countries: \n", global_temp['Country'].unique())

Number of rows with null data after cleaning
 dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
Country                          0
dtype: int64

In [7]:
for val in global_temp['Country'].unique():
    for aux in global_temp['Country'].unique():
        if(val != aux and val.find(aux) != -1):
            print(val, "is similar to ", aux, '\n')

American Samoa is similar to  Samoa

British Virgin Islands is similar to  Virgin Islands

Central African Republic is similar to  Africa

Congo (Democratic Republic Of The) is similar to  Congo

Denmark (Europe) is similar to  Denmark

Denmark (Europe) is similar to  Europe

Dominican Republic is similar to  Dominica

Equatorial Guinea is similar to  Guinea

France (Europe) is similar to  Europe

France (Europe) is similar to  France

Guinea Bissau is similar to  Guinea

Netherlands (Europe) is similar to  Europe

Netherlands (Europe) is similar to  Netherlands

Nigeria is similar to  Niger

Papua New Guinea is similar to  Guinea

South Africa is similar to  Africa

South Georgia And The South Sandwich Isla is similar to  Georgia

United Kingdom (Europe) is similar to  Europe

United Kingdom (Europe) is similar to  United Kingdom

In [8]:
print(global_temp.loc[global_temp['Country'] == 'Europe'])
#Remove the duplicated countries and countries for which
#there is no information about the temperature

                dt  AverageTemperature  AverageTemperatureUncertainty Country
166364  1743-11-01               3.942                          1.898  Europe
166369  1744-04-01               8.249                          2.562  Europe
166370  1744-05-01              11.030                          1.702  Europe
166371  1744-06-01              15.209                          1.693  Europe
166372  1744-07-01              17.498                          1.703  Europe
...            ...                 ...                            ...     ...
169597  2013-04-01               7.810                          0.262  Europe
169598  2013-05-01              13.466                          0.162  Europe
169599  2013-06-01              17.096                          0.239  Europe
169600  2013-07-01              19.585                          0.210  Europe
169601  2013-08-01              18.991                          0.270  Europe

[3166 rows x 4 columns]